body {
  background-color: black;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
}

.radio-card {
  border-radius: 40px;
  background: linear-gradient(0deg, rgb(35, 35, 35) 85%, rgb(253, 201, 104) 85% 100%);
  color: rgba(253, 251, 251, 0.765);
  width: 500px;
  height: 600px;
}

.card-body {
  margin: 15px;
}

h5 {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.radio-number {
  font-family: "Montserrat", sans-serif;
  text-align: right;
  font-size: 25px;
}

.playing {
  color: rgb(253, 201, 104);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: bold;
}

.current {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
}

hr {
  margin: 10px;
  color:rgba(253, 251, 251, 0.8)
}

.ion-icon {
  color: white;
}
